body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
}

.box-pc {
    height: 100%;
    width: 40%;
    background-color: aqua;
    display: inline-block;
}

.box-user {
    height: 100%;
    width: 40%;
    background-color: rosybrown;
    display: inline-block;
}

.box-side {
    height: 100%;
    width: 20%;
    background-color: lightgreen;
    display: inline-block;
}

.box-vida {
    width: 100%;
    height: 10%;
    background-color: red;
    text-align: center;
}

.box-card {
    width: 100%;
    height: 90%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-console {
    height: 50%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-deck {
    height: 40%;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center
}

/* CARD */

.box-vida h3 {
    display: inline-block;
    padding: 0px 10px
}

.card {
    width: 70%;
    height: 90%;
    background: #333333;
    border-radius: 20px;
    border: 2px solid gray;
}

.esconder {
    background: #eeeeee;
    border-radius: 20px;
    border: 2px solid gray;
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
}

.card-show {
    top: 0 !important;
}

.card-pc {
    position: relative;
    top: 1200px;
    width: 70%;
    height: 90%;
    background: white;
    border-radius: 20px;
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
    transition: .8s ease-out;
}

.card-name {
    height: 30%;
    width: 50%;
    background-color: #eeeeee;
    border-radius: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-name h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.card-image {
    height: 30%;
    width: 50%;
    background-color: #eeeeee;
    border-radius: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    height: 90%;
}

.card-skill {
    height: 40%;
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* JAVA SCRIPT */
.card-skill .js {
    height: 30%;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.label {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 60%;
    height: 60%;
    background-color: gray;
    border: 2px solid #333333;
}

.level {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.bar-level-html, .bar-level-js, .bar-level-css {
    height: 100%;
    width: 85%;
    background-color: lightskyblue;
}

/* HTML */
.card-skill .html {
    height: 30%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}

/* CSS */
.card-skill .css {
    height: 30%;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.card-special {
    height: 30%;
    width: 60%;
    border-radius: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

.special-title {
    height: 35%;
}

.special-title h3 {
    margin: 0px;
    padding: 10px 10px 0px 10px;;
    text-align: center;
}

.special-title h4 {
    margin: 0px;
    padding:5px;
    text-align: center;
}

.special-description {
    height: 65%;
    padding: 8px;
    text-align: center;
}

.card-activator {
    height: 30%;
    width: 40%;
    background-color: #333333;
    color: white;
    border-radius: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

.card-activator h3 {
    text-align: center;
}

.card-activator ul {

}

.deck-comecar {
    height: 200px;
    width: 150px;
    background: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: red !important; 
}

.btn-proxima-partida {
    height: 50px;
    width: 170px;
    background: red;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid darkred;
    font-weight: bold;
}

.rodada {
    width: 100%;
    height: 10%;
    background-color: #333333;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color:white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.btn-jogar-novamente {
    height: 50px;
    width: 280px;
    background: red;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid darkred;
    font-weight: bold;
    display: flex;
}

.placar {
    display: flex;
    flex-direction: row;
}

.placar h3 {
    padding: 10px;
}
